header{
    display: flex;
    min-height: 70px;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    align-items: center;
    height: 70px;
}
nav a{
    font-weight: 500;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:aqua;
}
body{
    margin: 0;
    font-family: sans-serif;
}